@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url(menu.css);
@import url(quienes-somos.css);
@import url(servicios.css);
@import url(footer.css);

 *,
 *::before,
 *::after {
    box-sizing: border-box; /*evita que las cajas se desborden*/
    margin: 0;
    padding: 0;
 }
 :root{
    --main-color: #010736;
    --secundary-color: #0D1C42;
    --blue-light: #22396F;
    --yellow-light: #FCF1D0;
    --white: #ffff;
    --black: #0000;
 }
 body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
     font-family: "VT323", monospace;
 }
 
ul {
    list-style: none !important;
 }
a {
    color: var(--secundary-color);
    text-decoration: none;
 }


