/*servicios*/
.servicios {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   text-align: center;
   gap: 20px;
   padding: 30px;
}
.servicios .col {
   margin-top: 20px;
}
.servicios h3 {
   font-size: 1.75em;
   font-weight: bold;
   color: var(--main-color);
}
.servicios i {
   color: var(--main-color);
   font-size: 42px;
}
.servicios i:hover {
   color: var(--secundary-color);
}
.title{
   font-size: 24px;
   font-weight: bold;
   color: var(--main-color);
   text-align: center;
}
.title h2{
   font-size: 24px;
   font-weight: bold;
   color: var(--main-color);
   text-align: center;
}